%section.ten-oh-announcement
  .container
    .row
      .col-sm-11.col-lg-6.ten-oh-label
        %span 10.3
      .col-sm-11.col-lg-6.ten-oh-description
        .ten-oh-description-body
          %h2.main-heading New features every month
          %p In this month’s release of GitLab 10.3 we’ve added new ways to ensure that your code changes are both secure and fast, enhanced your planning and collaboration workflow, and improved your ability to build and ship. Catch security vulnerabilities and performance regressions before code is merged with SAST and Browser Performance Testing. Deploy to multiple Kubernetes clusters for your dev, stage, prod, and review app environments (now in Beta). And so much more. 
          .btn-group
            %a.btn.cta-btn.ghost{href: "/2017/12/22/gitlab-10-3-released/"}
              See what’s new
