---
layout: job_page
title: "Senior Director of People Operations"
---

## Responsibilities

- **Effectiveness**
    - Keep our guidelines and materials [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself) (refer to the updated handbook when emailing instead of duplicating content)
    - Our [handbook](https://about.gitlab.com/handbook/) is the single source of truth
    - Follow the [GitLab workflow](http://doc.gitlab.com/ee/workflow/gitlab_flow.html)
    - Create expectation & value of documenting situations, responses and answers
    - Survey all new hires after 30 and 90 days and one year to determine effectiveness of onboarding processes. Continuously improve and streamline processes.
 - **Remote only aspects**
    - Have people feel close through initiatives
    - Structure process efficiently and without duplication
    - Promoting us as a remote only company
- **Training program management**
    - Manage GitLab University
    - Manage Traintool for soft skill training
    - Ensure the rest of the community benefits
- **Culture**
    - Train culture carriers that can do the last interview round
    - Identify behaviour that doesn't fit our values and take action
- **Recruiting program management**
    - Recruiter will report to you
    - Make sure people are responded to in the ATS
    - Make sure interviewers are trained
    - Make sure candidate evaluation is structured and recorded
- **Process**
    - Manage the onboarding process
    - Manage the offboarding process
    - Referral program management
    - Assist managers with job descriptions
    - Implement best practices such as [A Resource Guide for Recruiting](https://medium.com/for-entrepreneurs/a-resource-guide-for-recruiting-advice-from-the-experts-a41d549880f4#.g9pkqdeq7)
- **Measurement**
    - Identitfy and measure recruiting KPI's (time to hire, involuntary terminations)
    - Identify what could have presented bad hires and what caused great hires
    - Measure effective selection criteria
- **Retention program management**
    - eNPS / happiness measurement
    - Personal development programs
    - Help the CEO answer team member Feedback Form questions
    - Make things easier from the perspective of the team members
- **Performance Management**
    - Implement global program for evaluating performance and providing feedback
    - Work to tie performance management to compensation structure to professional development (i.e. promotion)
- **Compensation structure**
    - Compensation guidelines that work worldwide but tailored to local markets, to the city level
    - Implement compensation process that allows input from managers but removes direct authority for compensation changes
    - Review compensation and do pre-emptive raises
- **Compliance**
    - Manage information flow for US payroll and benefits provider TriNet
    - Evaluate need and timing for conversion from PEO (Trinet) to internally managed HR function.
    - Manage the process of changes to team members compensation, position, etc.
    - Deal with legal issues related to employment
    - Take lead in delicate People Operations issues (special circumstances, conflicts, sickness, layoffs, etc.)
- **Reporting**
    - You'll report to the CEO and work with this person on effectiveness, remote only, training program management, and culture.
    - You'll work with the CFO on all other subjects, sometimes with input from the CEO.

## Requirements

- Experience with US employment law and best practices
- Experience with human resource in countries other than the US.
- Excellent written and verbal communication skills
- Enthusiasm for and broad experience with software tools
- Proven experience quickly learning new software tools
- Willing to work with git and GitLab whenever possible
- Willing to make People Operations as open and transparent as possible
- Wanting to work for a fast-moving startup
- You share our [values](/handbook/values), and work in accordance with those values.
- Successful completion of a [background check](/handbook/people-operations/#background-checks).


<%= partial "includes/apply_and_about" %>
